.container {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4, 1fr) ;
    gap: 5px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    grid-auto-flow: column;
}

.box1 {
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

