.container {
    height: 100vh;
    background-color: aliceblue;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    gap: 5px;
    grid-template-areas: 
    "UmLin UmLin UmLin UmLin"
    "twocolorage TwolinfourColgray TwolinfourColgray TwolinfourColgray"
    "TwolinfourColblue TwolinfourColblue TwolinfourColblue twocolgreen"
    "twocol twocol twocol twocol";
}

.UmLin{
    background-color: aqua;
    grid-area: UmLin;
    text-align: center;
}

.twocolorage {
    background-color: orangered;
    grid-area: twocolorage;
    text-align: center;
}

.TwolinfourColgray{
    background-color: gray;
    grid-area: TwolinfourColgray;
    text-align: center;
}

.TwolinfourColblue {
    background-color: blue;
    grid-area: TwolinfourColblue;
    text-align: center;
}

.twocolgreen {
    background-color: green;
    grid-area: twocolgreen;
    text-align: center;
}

.twocol {
    background-color: gray;
    grid-area: twocol;
    text-align: center;
}