* {
    font-size: 20px;
    margin: 0;
}

h1 {
    font-size: 2rem;
    /*40px*/
}

.elemento1 {
    font-size: 1,5rem;

}

.elemnto2 {
    font-size: 2em;
}

.Box1 {
    background-color: blueviolet;
    height: 100vh;
}

.Box2 {
    background-color: brown;
    height: 100vh;
}

.Box3 {
    background-color: blue;
    height: 100vh;

}