@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #B3ECF2;
}

h1 {
    text-align: center;
    text-shadow: -4px -5px 5px #1d5166;
    font-family: Arial, Helvetica, sans-serif;
    color: #0D1A26;
    background-color: #3385A6;
    font-size: 50PX;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
    text-align: center;
    text-shadow: -4px -5px 5px  #1d5166;
    color: #0D1A26;
    background-color: #3385A6;
    font-size: 50PX;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    background-color: #5FCDD9;
    
}

